<div class="container">
  <div class="card mt-3">
    <div class="card-header">
      Liste des aliments
    </div>
    <div class="card-block">
      <table class="table">
        <thead>
        <tr>
          <th>Nom</th>
          <th>Calories</th>
          <th>Protéines</th>
          <th>Glucides</th>
          <th>Lipides</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let food of foods">
          <td>{{food.name}}</td>
          <td>{{food.calories}}</td>
          <td>{{food.proteins}}</td>
          <td>{{food.carbohydrates}}</td>
          <td>{{food.fats}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
