<form (ngSubmit)="onSubmit()" [formGroup]="profileForm" [ngClass]="{'invalid':isInvalid}">
  <p>Afin de comprendre vos besoins, merci de renseigner ces quelques informations :</p>
  <div class="row">
    <div class="col-12 col-md-6">
      <div class="form-group row">
        <label class="col-2 col-form-label">Genre</label>
        <div class="col-10 d-flex align-items-center">
          <div class="form-check form-check-inline mb-0">
            <label class="form-check-label">
              <input class="form-check-input" type="radio" id="male" value="female" checked formControlName="gender" required>
              <i class="fa fa-venus" aria-hidden="true"></i> Femme
            </label>
          </div>
          <div class="form-check form-check-inline mb-0">
            <label class="form-check-label">
              <input class="form-check-input" type="radio" id="female" value="male" formControlName="gender" required>
              <i class="fa fa-mars" aria-hidden="true"></i> Homme
            </label>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6">
      <div class="form-group row">
        <label class="col-sm-2 col-form-label">Poids</label>
        <div class="col-sm-10 input-group">
          <input class="form-control" type="number" formControlName="weight" name="weight" placeholder="exemple: 75">
          <div class="input-group-addon">kg</div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="!compute">
    <p class="mb-0 mt-1">Indiquez également votre base calorique. Il s'agit du nombre de calories nécessaire pour que
      vous
      conserviez un poids stable.<br/>
      Si vous ne la connaissez pas, vous pouvez la calculer simplement&nbsp;:
      <button (click)="toggleCompute()" class="btn btn-success mb-2 btn-sm">Calculer</button>
    </p>
  </div>
  <div class="card" *ngIf="compute">
    <div class="card-block">
      <i class="fa fa-times-circle remove-meal-button" aria-hidden="true" (click)="toggleCompute()"></i>
      <div class="row">
        <div class="col-12 col-md-6">
          <p class="alert alert-success" role="alert">Afin de calculer votre dépense d'énergie quotidienne, renseignez
            les informations ci dessus ainsi que les suivantes :</p>
          <div class="form-group row">
            <label class="col-sm-2 col-form-label">Taille</label>
            <div class="col-sm-10 input-group">
              <input class="form-control" type="number" formControlName="size" name="size" placeholder="exemple: 180">
              <div class="input-group-addon">cm</div>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-2 col-form-label">Age</label>
            <div class="col-sm-10">
              <input class="form-control" type="number" formControlName="age" name="age" placeholder="exemple: 30">
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6">
          <fieldset class="form-group row">
            <legend class="col-form-legend">Activité physique</legend>
            <div class="col-sm-10">
              <div class="form-check">
                <label class="form-check-label">
                  <input class="form-check-input" type="radio" id="gridRadios1" value="1.2" checked formControlName="activityIntensity">
                  Immobile – bloqué au lit
                </label>
              </div>
              <div class="form-check">
                <label class="form-check-label">
                  <input class="form-check-input" type="radio" id="gridRadios2" value="1.4" formControlName="activityIntensity">
                  Travail sédentaire (ex&nbsp;: secrétaire) et peu voir pas d’exercice.
                </label>
              </div>
              <div class="form-check">
                <label class="form-check-label">
                  <input class="form-check-input" type="radio" id="gridRadios3" value="1.7" formControlName="activityIntensity">
                  Travail à activité modérée (ex&nbsp;: assistant de vente) – exercice 2-3 x par semaines
                </label>
              </div>
              <div class="form-check">
                <label class="form-check-label">
                  <input class="form-check-input" type="radio" id="gridRadios4" value="2" formControlName="activityIntensity">
                  Travail physique (ex&nbsp;: ouvrier) – exercice 3-4 x par semaine
                </label>
              </div>
            </div>
          </fieldset>
        </div>
      </div>
      <p>
        <button type="submit" class="btn btn-success mrb-2 mr-2">Calculer</button>
        <span class="errorMessage">{{errorMessage}}</span>
      </p>
      <p class="mt-2 mb-0"><em>Note : Cette méthode est conçue à partir des <a
        href="https://www.cambridge.org/core/services/aop-cambridge-core/content/view/S1368980005001394">équations
        développées par l'université d'Oxford <i class="fa fa-external-link" aria-hidden="true"></i></a></em></p>
    </div>
  </div>

  <div class="mt-2">
    <div class="form-group row">
      <label class="col-12 col-md-2 col-form-label text-nowrap" for="caloriesBase">Base calorique&nbsp;:</label>
      <div class="input-group col-12 col-md-10">
        <input type="number" formControlName="calories" class="form-control" id="caloriesBase"/>
        <div class="input-group-addon">cal</div>
      </div>
    </div>
  </div>
</form>
