<form class="form-inline mb-3 form-food-select" (ngSubmit)="onSubmit()" #foodSelectorForm="ngForm">
  <div class="input-group mr-2" style="width: 10em">
    <input class="form-control" type="number" name="weight" [(ngModel)]="weight" placeholder="100">
    <div class="input-group-addon">g</div>
  </div>
  <food-search (onFoodSelected)="onSearchFoodSelected($event)" [weight]="weight" class="food-search"></food-search>
  <button type="Ajouter" class="btn btn-success ml-2">Ajouter</button>
</form>
