<div *ngIf="!displaySummary">
  Nous afficherons un bilan de la journée sélectionnée ainsi que votre semaine ici une fois que vous aurez ajouté des
  aliments à votre menu.
</div>
<div *ngIf="displaySummary" class="summary row">
  <div class="col-12 col-md-4">
    <figure>
      <canvas baseChart
              [data]="doughnutChartData"
              [labels]="doughnutChartLabels"
              [chartType]="doughnutChartType"
              (chartHover)="chartHovered($event)"
              (chartClick)="chartClicked($event)"></canvas>
      <figcaption class="text-center">Proportions des macro-nutriments</figcaption>
    </figure>
  </div>
  <div class="col-12 col-md-4">
    <div class="d-flex flex-column justify-content-between" style=" height: 100%;">
      <div class="d-flex flex-column justify-content-center" style="height: 100%;">
        <div class="progress">
          <div class="progress-bar progress-bar-animate" role="progressbar" [style.width]="caloriesPercentage + '%'"
               [attr.aria-valuenow]="caloriesPercentage" aria-valuemin="0" aria-valuemax="100">Calories
          </div>
        </div>
        <div class="progress" data-toggle="tooltip" data-placement="right" title="2g par kg de poid de corps">
          <div class="progress-bar progress-bar-animate" role="progressbar" [style.width]="proteinsPercentage + '%'"
               [attr.aria-valuenow]="proteinsPercentage" aria-valuemin="0" aria-valuemax="100">Protéines
          </div>
        </div>
        <div class="progress">
          <div class="progress-bar progress-bar-animate" role="progressbar"
               [style.width]="carbohydratesPercentage + '%'"
               [attr.aria-valuenow]="carbohydratesPercentage"
               aria-valuemin="0" aria-valuemax="100">Glucides
          </div>
        </div>
        <div class="progress" data-toggle="tooltip" data-placement="right" title="20% des apports caloriques">
          <div class="progress-bar progress-bar-animate" role="progressbar" [style.width]="fatsPercentage + '%'"
               [attr.aria-valuenow]="fatsPercentage"
               aria-valuemin="0" aria-valuemax="100">Lipides
          </div>
        </div>
      </div>
      <p class="text-center">Objectifs de la journée</p>
    </div>
  </div>
  <div class="col-12 col-md-4">
    <div class="d-flex flex-column justify-content-between" style=" height: 100%;">
      <div class="d-flex flex-column justify-content-center" style="height: 100%;">
        <div class="progress">
          <div class="progress-bar progress-bar-animate" role="progressbar"
               [style.width]="weekCaloriesPercentage + '%'" [attr.aria-valuenow]="weekCaloriesPercentage"
               aria-valuemin="0" aria-valuemax="100">Calories
          </div>
        </div>
        <div class="progress" data-toggle="tooltip" data-placement="left" title="2g par kg de poid de corps">
          <div class="progress-bar progress-bar-animate" role="progressbar"
               [style.width]="weekProteinsPercentage + '%'" [attr.aria-valuenow]="weekProteinsPercentage"
               aria-valuemin="0" aria-valuemax="100">Protéines
          </div>
        </div>
        <div class="progress">
          <div class="progress-bar progress-bar-animate" role="progressbar"
               [style.width]="weekCarbohydratesPercentage + '%'" [attr.aria-valuenow]="weekCarbohydratesPercentage"
               aria-valuemin="0" aria-valuemax="100">Glucides
          </div>
        </div>
        <div class="progress" data-toggle="tooltip" data-placement="left" title="20% des apports caloriques">
          <div class="progress-bar progress-bar-animate" role="progressbar"
               [style.width]="weekFatsPercentage + '%'" [attr.aria-valuenow]="weekFatsPercentage"
               aria-valuemin="0" aria-valuemax="100">Lipides
          </div>
        </div>
      </div>
      <p class="text-center">Objectifs de la semaine</p>
    </div>
  </div>
</div>
