<div *ngIf="!displaySummary">
  Nous afficherons un bilan de la journée sélectionnée ainsi que votre semaine ici une fois que vous aurez ajouté des
  aliments à votre menu.
</div>
<div class="row" *ngIf="displaySummary" class="summary">
  <div class="col-12 col-md-4">
    <figure>
      <canvas baseChart
              [data]="doughnutChartData"
              [labels]="doughnutChartLabels"
              [chartType]="doughnutChartType"
              (chartHover)="chartHovered($event)"
              (chartClick)="chartClicked($event)"></canvas>
      <figcaption class="text-center">Proportions des macro-nutriments</figcaption>
    </figure>
  </div>
  <div class="col-12 col-md-4">
    <div class="progress">
      <div class="progress-bar progress-bar-animate" role="progressbar" [style.width]="caloriesPercentage + '%'"
           [attr.aria-valuenow]="caloriesPercentage" aria-valuemin="0" [attr.aria-valuenow]="caloriesBase">Calories
      </div>
    </div>
    <div class="progress">
      <div class="progress-bar progress-bar-animate" role="progressbar" style="width: 75%" aria-valuenow="0"
           aria-valuemin="0" aria-valuemax="100">Protéines
      </div>
    </div>
    <div class="progress">
      <div class="progress-bar progress-bar-animate" role="progressbar" style="width: 25%" aria-valuenow="25"
           aria-valuemin="0" aria-valuemax="100">Glucides
      </div>
    </div>
    <div class="progress">
      <div class="progress-bar progress-bar-animate" role="progressbar" style="width: 50%" aria-valuenow="50"
           aria-valuemin="0" aria-valuemax="100">Lipides
      </div>
    </div>
  </div>
</div>
