<div *ngIf="!displaySummary">
  Nous afficherons un bilan de la journée sélectionnée ainsi que votre semaine ici une fois que vous aurez ajouté des
  aliments à votre menu.
</div>
<div class="row" *ngIf="displaySummary">
  <div class="col-12 col-md-4">
    <figure>
      <canvas baseChart
              [data]="doughnutChartData"
              [labels]="doughnutChartLabels"
              [chartType]="doughnutChartType"
              (chartHover)="chartHovered($event)"
              (chartClick)="chartClicked($event)"></canvas>
      <figcaption class="text-center">Proportions des macro-nutriments</figcaption>
    </figure>
  </div>
</div>
