<header>
  <div class="container">
    <div class="d-flex flex-row justify-content-between">
      <div class="header">
      <h1>Workout Food</h1>
      <p>Un outil simple et pratique pour construire votre menu de diète</p>
      </div>
      <nav class="navbar navbar-inverse navbar-toggleable">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="core">Mon menu<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="foods">Liste des aliments<span class="sr-only">(current)</span></a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>
<router-outlet></router-outlet>
