<div class="container">
  <h1>Workout Food</h1>
  <div class="card mt-3">
    <div class="card-header">
      Calculez votre base calorique
    </div>
    <div class="card-block">
      <calories-selector></calories-selector>
    </div>
  </div>

  <div class="card mt-3">
    <div class="card-header">
      Choisissez un aliment
    </div>
    <div class="card-block">
      <food-selector (onFoodSelected)="onFoodSelected($event)"></food-selector>
    </div>
  </div>

  <div class="card mt-3">
    <div class="card-header">
      Votre menu
    </div>
    <div class="card-block">
      <ul class="nav nav-tabs">
        <li class="nav-item" *ngFor="let day of days; let i = index">
          <a class="nav-link" [class.active]="isSelected(day)" href="#" (click)="selectDay(day)">Jour {{i+1}}</a>
        </li>
        <li class="nav-item" *ngIf="days.length <= 7">
          <a class="nav-link" href="#" (click)="addDay()">+</a>
        </li>
      </ul>

      <day [day]="selectedDay"></day>
    </div>
  </div>
</div>
