<div class="d-flex flex-row justify-content-between align-items-center">
  <p *ngIf="day.meals.length > 1" class="m-0"><strong>Cliquez sur un repas pour le sélectionner</strong></p>
  <div class="add-meal">
    <button type="button" (click)="addMeal()" class="btn btn-success m-2"><i class="fa fa-plus" aria-hidden="true"></i>
      Ajouter un repas
    </button>
  </div>
</div>
<div class="row">
  <div *ngFor="let meal of day.meals; let i = index" class="col-12 col-lg-6">
    <meal [num]="i" [meal]="meal"></meal>
  </div>
</div>
