header {
  padding: 0.5em 0;
  background-image: url(img/classy_fabric.png);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.3);
}

header h1 {
  color: white;
  margin: 0;
}

h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}

input.ng-invalid.ng-touched {
  border-bottom: 1px solid #e74c3c !important;
}

.meal {
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.4);
}

.food-search {
  flex-grow: 1;
}

.form-food-select {
  display: flex;
  justify-content: space-between;
}

.close-tab {
  position: relative;
  right: -10px;
  top: 2px;
}

.add-meal {
  text-align: right;
  flex-grow: 1;
}

.remove-meal-button {
  position: absolute;
  top: 3px;
  right: 3px;
}

.card-top {
  border-top-right-radius: calc(.25rem - 1px);
  border-top-left-radius: calc(.25rem - 1px);
  background-position: center;
  background-size: 100%;
  font-size: 120%;
  font-weight: 500;
  color: #333;
  padding: 0.2em;
  text-shadow: 1px 1px 1px white;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
