@font-face {
  font-family: 'Nickainley-Normal';
  src: url('fonts/Nickainley-Normal.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  background-image: url(img/cheap_diagonal_fabric.png);
}

header {
  padding: 0.5em 0;
  background-image: url(img/classy_fabric.png);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.3);
}

header h1 {
  font-family: 'Nickainley-Normal', Arial, Helvetica, sans-serif;
}

header h1, header p {
  color: white;
  margin: 0;
}

header a {
  color: white;
  text-align: center;
}

header a:hover, header a:active, header a:visited {
  color: white;
  text-decoration: none;
}

header nav {
  display: flex;
  align-items: stretch;
}

header nav ul {
  display: flex;
  align-items: stretch;
  margin: 0;
  padding: 0;
}

header nav ul li {
  display: flex !important;
  align-items: center;
  margin: 0 0 0 1em;
  padding: 0;
  display: inline;
  cursor: pointer;
}

h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}

input.ng-invalid.ng-touched {
  border-bottom: 1px solid #e74c3c !important;
}

.meal {
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.4);
}

.meal-selected {
  border-color: #0275d8;
}

.food-search {
  flex-grow: 1;
}

.form-food-select {
  display: flex;
  justify-content: space-between;
}

.close-tab {
  position: relative;
  right: -10px;
  top: 2px;
}

.add-meal {
  text-align: right;
  flex-grow: 1;
}

.remove-meal-button {
  position: absolute;
  top: 3px;
  right: 3px;
}

.card-top {
  border-top-right-radius: calc(.25rem - 1px);
  border-top-left-radius: calc(.25rem - 1px);
  background-position: center;
  background-size: 100%;
  font-size: 120%;
  font-weight: 500;
  color: #333;
  padding: 0.2em;
  text-shadow: 1px 1px 1px white;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}

.progress-bar-animate {
  transition: width 2s ease-out;
}

.summary .progress {
  margin-bottom: 1em;
}
