h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}

input.ng-invalid.ng-touched {
  border-bottom: 1px solid #e74c3c !important;
}

.meal {
  cursor: pointer;
}

.close-tab {
  position: relative;
  right: -10px;
}
