<div class="container">
  <div class="card mt-3">
    <div class="card-header">
      Vos besoins
    </div>
    <div class="card-block">
      <calories-selector></calories-selector>
    </div>
  </div>

  <div class="card mt-3" id="card-menu">
    <div class="card-header">
      Votre menu
    </div>
    <div class="card-block">
      <food-selector (onFoodSelected)="onFoodSelected($event)"></food-selector>
      <ul class="nav nav-tabs">
        <li class="nav-item" *ngFor="let day of days; let i = index">
          <a class="nav-link" [class.active]="isSelected(day)" (click)="selectDay(day)">Jour {{i+1}}
            <button type="button" (click)="remove(day)" class="close close-tab" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </a>
        </li>
        <li class="nav-item" *ngIf="days.length < 7">
          <a class="nav-link" (click)="addDay()"><i class="fa fa-plus" aria-hidden="true"></i></a>
        </li>
      </ul>

      <day [day]="selectedDay"></day>
    </div>
  </div>

  <div class="card mt-3 mb-3">
    <div class="card-header">
      Bilan
    </div>
    <div class="card-block">
      <summary></summary>
    </div>
  </div>
</div>
